@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

.app-header{
  text-align: center;
  padding: 20px;
}

.header{
  font-family: 'Assistant', sans-serif;
  font-size: 30px;
}
.app-body{
  padding: 20px;
  margin:10px;
  text-align: center;
}

.app-display{
  margin-top: 10px;
}

.language-select{
  height: 40px !important;
  margin-bottom: 15px;
  outline: none !important;
}